<div class="grid">
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Pasteleria profesional
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>cantidad de cupos</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Chef profesional
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>cantidad de cupos</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                   Cocinero profesional
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>cantidad de cupos</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>


