.example-container {
    width: 100%;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
   
    height: 100%;
    
  }
  
  .example-sidenav {
    padding: 20px;
  }
  main{
    min-height: calc((100vh - #{66px}));
  }
  .mat-toolbar.mat-primary {
    color: #130f0f;
}